
.results {
    height: 300px;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
}
.result {
    display: inline-block;
    position: absolute;
    width: 180px;
    height: 280px;
    margin: 0 10px 10px 0;
    padding: 15px;
    vertical-align: top;
    background: white;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.25);
    ul {
        margin:0;
        padding: 0;
        list-style: none;
        li {
            line-height: 1.25em;
        }
        .id {
            font-size: 0.8em;
        }
    }
    &.select {
        background: #A1FFBD;
    }
    &.reject {
        background: #FF8795;
    }
}

.template {
    display: none;
}

